/* === HEADING STYLE #2 === */

@media screen and (max-width: 767px) {
    #sidebar-body span {
        display: none !important;
        /* width: 100%; The width is 100%, when the viewport is 800px or smaller */
    }
    #sidebar-body li{
        width: auto;
        text-align: center;
        padding: 0;
    }    
    .header h1{
        font-weight: 900;
    }
}
@media screen and (max-width: 575px) {
    #sidebar-body span {
        display: none !important;
        /* width: 100%; The width is 100%, when the viewport is 800px or smaller */
    }
    #sidebar-body > li {
        display: inline-block;
        width: 40px;
    }
    #sidebar-body {
        padding: 10;
        margin: 0;
    }
    .header h1{
        font-weight: 900;
    }
}

/*Sidebar functionality added here*/
#sidebarmain {
    padding-left: 0;
    padding-right: 0;
    background-color: rgb(223, 244, 244);
}
#sidebar-body{
    top: 5%;
    padding-left: 0;
    padding-right: 0;
    position: -webkit-sticky;
    position: sticky;
    font-size: 16;
    list-style: none;
}
#sidebar-body li {
    padding: 5px;
}
#sidebar-body li > i{
    display: inline-block;
    width: 20px;
    text-align: center;
}
#sidebar-body li {
    cursor:pointer ; 
}
#sidebar-body li:hover {
    background-color: rgb(150, 239, 239);
    border: 1px solid skyblue;
 }


/* Header, lets make it beautiful*/
.header {
    background-color: rgb(244, 243, 243);
    cursor:default;
}

.header h1 {
    position: relative;
    padding: 15;
    margin: 0;
    font-family: "Raleway", cursive;
    color: #080808;
    text-transform: capitalize;
    text-align:center;
    }
  
.header h1 span {
    text-align:center;
    display: block;
    font-size: 0.4em;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 3em;
    color: rgba(60, 33, 33, 0.4);
    padding-bottom: px;
  }
.header h1:after {
    position: absolute;
    bottom: 0;
    width:16%;
    height: 2px;
    content: "";
    background-color: #c50000;
    left: 42%; 
  }


/* More stuff */



#saveNames, #changeTimeaxis-a, #changeTimeaxis-4, #changeTimeaxis-1, #changeTimeaxis-d {
    background-color: rgb(223, 244, 244);
}
#saveNames:hover,  #changeTimeaxis-a:hover, #changeTimeaxis-4:hover, #changeTimeaxis-1:hover, #changeTimeaxis-d:hover {
    background-color: rgb(150, 239, 239);
}



.w11 {
    display: none !important;
}

#horbar {
    height: 2px;
    width: 100%;
    content: "";
    background-color: #c50000;
}


  /* Something else */
#moveme {
    position: relative;
}

#draggable { 
    width: 250px;
}

#date {
    margin: 10px;
}

.blue {
    color: blue;
    background-color: beige;
}
.a12{
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}